<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhi_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,57}</string>
                <key>spriteSourceSize</key>
                <string>{203,57}</string>
                <key>textureRect</key>
                <string>{{1387,1},{203,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongzhifangshi_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,58}</string>
                <key>spriteSourceSize</key>
                <string>{304,58}</string>
                <key>textureRect</key>
                <string>{{1208,1063},{304,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuji_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,128}</string>
                <key>spriteSourceSize</key>
                <string>{288,128}</string>
                <key>textureRect</key>
                <string>{{1114,638},{288,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chujichang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,547}</string>
                <key>spriteSourceSize</key>
                <string>{540,547}</string>
                <key>textureRect</key>
                <string>{{1,683},{540,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,292}</string>
                <key>spriteSourceSize</key>
                <string>{412,292}</string>
                <key>textureRect</key>
                <string>{{1,1232},{412,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,251}</string>
                <key>spriteSourceSize</key>
                <string>{399,251}</string>
                <key>textureRect</key>
                <string>{{713,638},{399,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,133}</string>
                <key>spriteSourceSize</key>
                <string>{159,133}</string>
                <key>textureRect</key>
                <string>{{1082,928},{159,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,235}</string>
                <key>spriteSourceSize</key>
                <string>{367,235}</string>
                <key>textureRect</key>
                <string>{{713,891},{367,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,82}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{1332,708},{107,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daoju_beika.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,136}</string>
                <key>textureRect</key>
                <string>{{954,1314},{128,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daoju_xueka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,136}</string>
                <key>textureRect</key>
                <string>{{1244,800},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daoju_zhanka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,136}</string>
                <key>textureRect</key>
                <string>{{1268,1263},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_baoxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,116}</string>
                <key>textureRect</key>
                <string>{{1106,1304},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_chongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{106,116}</string>
                <key>textureRect</key>
                <string>{{524,1485},{106,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dating_dibu_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{698,98}</string>
                <key>spriteSourceSize</key>
                <string>{698,98}</string>
                <key>textureRect</key>
                <string>{{543,683},{698,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dating_fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,118}</string>
                <key>spriteSourceSize</key>
                <string>{113,118}</string>
                <key>textureRect</key>
                <string>{{1052,1444},{113,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dating_gerenxinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,66}</string>
                <key>spriteSourceSize</key>
                <string>{222,66}</string>
                <key>textureRect</key>
                <string>{{1222,522},{222,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_gonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,68}</string>
                <key>spriteSourceSize</key>
                <string>{750,68}</string>
                <key>textureRect</key>
                <string>{{643,683},{750,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dating_gonglue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{1098,1559},{100,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dating_jinbi_yinbi_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,54}</string>
                <key>spriteSourceSize</key>
                <string>{191,54}</string>
                <key>textureRect</key>
                <string>{{846,1503},{191,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_jindan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{1208,1369},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_paihangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{1243,938},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_qiandao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1280,1401},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{1332,590},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1279,1581},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dating_wode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{524,1383},{100,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dating_xinxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,121}</string>
                <key>spriteSourceSize</key>
                <string>{102,121}</string>
                <key>textureRect</key>
                <string>{{975,1559},{102,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dating_yindan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{1345,1581},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1092,1314},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoji_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,107}</string>
                <key>spriteSourceSize</key>
                <string>{284,107}</string>
                <key>textureRect</key>
                <string>{{415,1232},{284,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaojichang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,545}</string>
                <key>spriteSourceSize</key>
                <string>{537,545}</string>
                <key>textureRect</key>
                <string>{{683,1},{537,545}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaojiniao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,104}</string>
                <key>spriteSourceSize</key>
                <string>{137,104}</string>
                <key>textureRect</key>
                <string>{{411,1526},{137,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gonggao_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,125}</string>
                <key>spriteSourceSize</key>
                <string>{519,125}</string>
                <key>textureRect</key>
                <string>{{1222,1},{519,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gonggao_weidu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{92,69}</string>
                <key>textureRect</key>
                <string>{{517,1593},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonggao_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,56}</string>
                <key>spriteSourceSize</key>
                <string>{203,56}</string>
                <key>textureRect</key>
                <string>{{1356,1054},{203,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gonggao_yidu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{92,69}</string>
                <key>textureRect</key>
                <string>{{1349,411},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonglue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,55}</string>
                <key>spriteSourceSize</key>
                <string>{202,55}</string>
                <key>textureRect</key>
                <string>{{642,1502},{202,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumai_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,59}</string>
                <key>spriteSourceSize</key>
                <string>{141,59}</string>
                <key>textureRect</key>
                <string>{{1374,792},{141,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanbianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{1280,1510},{69,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paihang_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,88}</string>
                <key>spriteSourceSize</key>
                <string>{525,88}</string>
                <key>textureRect</key>
                <string>{{683,548},{525,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paihang_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,56}</string>
                <key>spriteSourceSize</key>
                <string>{203,56}</string>
                <key>textureRect</key>
                <string>{{643,1444},{203,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiandao_chenggong_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,75}</string>
                <key>spriteSourceSize</key>
                <string>{341,75}</string>
                <key>textureRect</key>
                <string>{{1,1578},{341,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiandao_chenggong_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1082,1063},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiandao_jinbidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1172,1430},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiandao_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,57}</string>
                <key>spriteSourceSize</key>
                <string>{202,57}</string>
                <key>textureRect</key>
                <string>{{848,1444},{202,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiandao_yinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1398,1306},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiandaogou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1398,1259},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiandaoniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,100}</string>
                <key>spriteSourceSize</key>
                <string>{239,100}</string>
                <key>textureRect</key>
                <string>{{713,1342},{239,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quedingniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,100}</string>
                <key>spriteSourceSize</key>
                <string>{239,100}</string>
                <key>textureRect</key>
                <string>{{1106,1063},{239,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rmb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{1420,1467},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shanguangdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,184}</string>
                <key>spriteSourceSize</key>
                <string>{177,184}</string>
                <key>textureRect</key>
                <string>{{927,1128},{177,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share_pyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{642,1559},{104,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>share_qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{753,1559},{104,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>share_weixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{864,1559},{104,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>share_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,57}</string>
                <key>spriteSourceSize</key>
                <string>{203,57}</string>
                <key>textureRect</key>
                <string>{{1387,206},{203,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shezhi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,65}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{344,1578},{62,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shezhi_jingdutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,36}</string>
                <key>spriteSourceSize</key>
                <string>{394,36}</string>
                <key>textureRect</key>
                <string>{{1349,1},{394,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shezhi_jingdutiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,50}</string>
                <key>spriteSourceSize</key>
                <string>{408,50}</string>
                <key>textureRect</key>
                <string>{{1,1526},{408,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shezhi_lijigengxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,86}</string>
                <key>spriteSourceSize</key>
                <string>{208,86}</string>
                <key>textureRect</key>
                <string>{{1244,590},{208,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shezhi_qiehuanzhanghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,86}</string>
                <key>spriteSourceSize</key>
                <string>{207,86}</string>
                <key>textureRect</key>
                <string>{{1268,1054},{207,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shezhi_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,57}</string>
                <key>spriteSourceSize</key>
                <string>{102,57}</string>
                <key>textureRect</key>
                <string>{{1220,1540},{102,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shezhi_zidonggengxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1398,1350},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shezhi_zidonggengxin_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1082,891},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shibai_cha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1082,1087},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1356,1510},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinxiao_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,37}</string>
                <key>spriteSourceSize</key>
                <string>{64,37}</string>
                <key>textureRect</key>
                <string>{{1349,482},{64,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinyue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,37}</string>
                <key>spriteSourceSize</key>
                <string>{64,37}</string>
                <key>textureRect</key>
                <string>{{1382,1401},{64,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuanpan_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{683,638},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_choujiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{212,212}</string>
                <key>textureRect</key>
                <string>{{713,1128},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_dizuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,680}</string>
                <key>spriteSourceSize</key>
                <string>{680,680}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_liang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1382,1467},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_zhizhen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,110}</string>
                <key>spriteSourceSize</key>
                <string>{79,110}</string>
                <key>textureRect</key>
                <string>{{1365,938},{79,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1445,1664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ccbdbf9d90063b06ce0e9b1bdd7a349:e56dafe2beda35f8653ed2d5f9ae58de:333c9ff079a5b8ddfb0c61408e972979$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
