<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>denglu_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,325}</string>
                <key>spriteSourceSize</key>
                <string>{730,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{730,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>denglu_mimadenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{387,484},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>denglu_qqdenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{242,733},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>denglu_shoujidenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{205,844},{104,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>denglu_weixindenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{387,595},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>denglu_youkedenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{348,706},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>denlu_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,100}</string>
                <key>spriteSourceSize</key>
                <string>{239,100}</string>
                <key>textureRect</key>
                <string>{{411,243},{239,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanbianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{440,817},{69,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mimadenglu_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,56}</string>
                <key>spriteSourceSize</key>
                <string>{201,56}</string>
                <key>textureRect</key>
                <string>{{1,952},{201,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mimazhuce_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,56}</string>
                <key>spriteSourceSize</key>
                <string>{202,56}</string>
                <key>textureRect</key>
                <string>{{1,894},{202,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoujidenglu_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,57}</string>
                <key>spriteSourceSize</key>
                <string>{202,57}</string>
                <key>textureRect</key>
                <string>{{1,835},{202,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoujidenglu_zhanghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{454,747},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoujizhuce_duanxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{328,662},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoujizhuce_mima.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{454,706},{31,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoujizhuce_shouji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{440,893},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoujizhuce_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,57}</string>
                <key>spriteSourceSize</key>
                <string>{203,57}</string>
                <key>textureRect</key>
                <string>{{328,457},{203,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanzhengma_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,60}</string>
                <key>spriteSourceSize</key>
                <string>{131,60}</string>
                <key>textureRect</key>
                <string>{{316,844},{131,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanzhengma_time_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,60}</string>
                <key>spriteSourceSize</key>
                <string>{131,60}</string>
                <key>textureRect</key>
                <string>{{378,817},{131,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuce_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,100}</string>
                <key>spriteSourceSize</key>
                <string>{240,100}</string>
                <key>textureRect</key>
                <string>{{411,1},{240,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuce_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,81}</string>
                <key>spriteSourceSize</key>
                <string>{454,81}</string>
                <key>textureRect</key>
                <string>{{328,1},{454,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuce_sure_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,100}</string>
                <key>spriteSourceSize</key>
                <string>{239,100}</string>
                <key>textureRect</key>
                <string>{{1,733},{239,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7985349e8fd6a8711bbe48fdfc121452:26381b25bc5481d092206973bf854697:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
